{% extends "::base.html.twig" %}

{% block title %}PhoneBundle:Contact:delete{% endblock %}

{% block body %}
<h1>Delete Contact</h1>
{% if error is defined %}
    {{error}}
{% endif %}
{% if form.delete is defined %}
    Are you sure you want to delete the contact <strong>({{mobile}})</strong>?  <a href="{{path('index')}}">Cancel Deletion</a> {{form(form)}}
{% endif %}

{% endblock %}

