{% extends "::base.html.twig" %}

{% block title %}PhoneBundle:Contact:delete{% endblock %}

{% block body %}
<h1>Delete Contact</h1>
{% endblock %}

{% if form.delete is defined %}
      Are you sure you want to delete the news page: {{ form.vars.value.title }} ?
    {% endif %}