{% extends "PhoneBundle::layout.html.twig" %}
{% form_theme form "PhoneBundle:Form:fields.html.twig" %}

{% block title %}PhoneBundle:Contact:edit{% endblock %}

{% block body %}
<h1>Edit Contact</h1>
{{ form_widget(form) }}
{{ form_errors(form) }}
{{ form_rest(form) }}
{{ form(form) }}
{% endblock %}
