{% extends "PhoneBundle::layout.html.twig" %}

{% block title %}iPhone | New Contact{% endblock %}

{% block body %}
     <div class="row">
        <div class="col-md-12">
<h1>Create New Contact</h1>
        </div></div>

{% if done is defined %}
    <strong>{{ done }}</strong><br/><br/>
{% endif %}
{{ form(form) }}
{% endblock %}
